<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXW8aN01kqdfiMmrYH3JSfeDa4ngO5kbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005128813885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomDuProjet</string>
	<key>PROJECT_ID</key>
	<string>msprohelp</string>
	<key>STORAGE_BUCKET</key>
	<string>msprohelp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005128813885:ios:4c07d5b8c173c25e090954</string>
</dict>
</plist>